*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
.so{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-left: 150px;
    margin-right: 200px;
    margin-top: 20px;
 
 }